LOG.TXT
PROFILER.TXT
_iGauss.ini

# Compiled source #
###################
*.dcu
*.obj
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.o
*.ppu
*.rsj
*.compiled
*.lib
*.pyd

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
*.bak

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.rc
*.res
*.local

# Output Folders  #
###################
/Win32
/Win64
/bin
/__history
/__recovery
*.bak
*.Patch
*.pch

bin/PL_Profiler.txt
bin/PROFILE.TXT
bin/Release/Win64/_iGauss.ini
bin/Release/Win64/LOG.TXT
bin/Release/Win64/PROFILE.TXT
bin/Release/Win64/PROFILER.TXT
bin/Release/Win64/_iGauss.ini
bin/Release/Win64/PROFILER.TXT
bin/PROFILE.TXT
bin/PROFILER.TXT
bin/PROFILE.TXT
bin/PROFILE.TXT
bin/LOG.TXT
bin/_iGauss.ini
bin/_iGauss.ini
bin/LOG.TXT
bin/PROFILER.TXT
bin/LOG.TXT
